# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

android/app/.cxx

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/key.properties
android/key.properties
android/my-release-key.jks
android/mykeystore.jks

android/app/.cxx/Debug/** 
android/app/.cxx/Debug/
android/app/.cxx/RelWithDebInfo/*
android/app/.cxx/Debug/e6r53i6s/arm64-v8a/configure_fingerprint.bin
android/app/.cxx/Debug/e6r53i6s/armeabi-v7a/configure_fingerprint.bin
android/app/.cxx/Debug/e6r53i6s/x86/configure_fingerprint.bin
android/app/.cxx/Debug/e6r53i6s/x86_64/configure_fingerprint.bin
runn.txt
.fvmrc
.fvm/
run.txt


# FVM Version Cache
.fvm/